   <div class="header">
       <div class="navbar">
           <div class="logo">
               <a href="/"><img src="images/logo.png" alt=""></a>
           </div>
           <ul id="list">
               <li><a href="/"> <i class="fa fa-home"></i> HOME</a></li>
               <li><a href="#"> <i class="fa fa-user"></i> ABOUT US</a></li>
               <li><a href="#"> <i class="fa fa-clone"></i> SERVICES</a></li>
               <li><a href="#"> <i class="fa fa-handshake-o"></i> TESTINOMIAL</a></li>
               <li><a href="/login"> <i class="fa fa-lock"></i> LOGIN</a></li>
               <li><a href="/logout"> <i class="fa fa-lock"></i> LOGOUT</a></li>
               <li><a href="/secret"> <i class="fa fa-lock"></i> SECRET</a></li>
               <li><a href="/register">  <i class="fa fa-registered"></i> REGISTER</a></li>
           
                <img src="images/arrow.png" alt="" id="closeMenu">
            </ul>
        <img src="images/menu.png" alt="" id="sideMenu">
       </div>
   </div>
